body{
	background-color: #F3E5AB;
	font-family: 'Ubuntu', sans-serif;
}

h1, h3{
	color: #1b7742;
	font-family: 'Russo One', sans-serif;
}

marquee{
	font-size: 20pt;
	background-color: #E8DAA0;
	font-family: 'Roboto Slab', serif;
}

img.home{
	display: inline-block;
	margin-left: 12.5%;
	border: 3px dotted #1b7742;
}

img.unitpage{
	display: inline-block;
	margin-left: 31%;
	border: 3px dotted #1b7742;
}

table, th, td{
	border: 3px groove #1b7742;
}

table{
	padding: 3px;
}

td{
	text-align: center;
}

a{
	display: inline;
	margin-left: 10%;
	text-decoration: none;
	color: #000000;
}

nav{
	background-color: #667B4C;
}

p.credits{
	text-align: center;
	font-variant: small-caps;
	font-size: 14pt;
}
